/* 預設部分 */
.container{
  word-wrap:break-word;
  overflow:hidden;
}
img {
  border: 1px solid #ccc;
}
p{
  color:#727272;
}
h1,h2,h3 {
  color:#78817a;
  text-shadow:1px 1px #000;
}
a {
  transition:0.7s;
}
a:hover {
  text-decoration:none;
}
.btn-orange {
  background-color:#FF570C;
  color:#fff;
  transition:0.7;
}
.btn-orange:hover {
  background-color: #f78654;
  color:#fff;
}

/* navigation */
.clear {
  clear:both;
}
.navigation {
  width: 100%;
  background-color: #000;  
  position:fixed;
  top:0;
  z-index:100;
}
.navigation .menu {
  float:right;
}
.navigation li {
  float:left;
  list-style:none;
/*   border-right:2px solid #fff; */
  padding-top:5px;
  padding-bottom: 5px;
  padding-left:15px;
  padding-right:15px;
  text-align:center;
  margin-top:10px;
}
.navigation i {
  color:#fff;
  font-size: 2em;

}
@media (max-width:768px) {
  .navigation li{
    width: 25;
  }
  .navigation .menu {
    float:none;
  }
}
/* .navigation li:first-child {
  border-left:2px solid #fff;
} */

/* banner部分 */
.main_header {
  height:400px;
  color:#fff;
  background-image: url("https://images.unsplash.com/photo-1488229297570-58520851e868?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=c294d4cfcd05969089c0e62f5b16d884&auto=format&fit=crop&w=1949&q=80");
  overflow: hidden;
  background-position:100% 10%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
img {
  width:100%;
}
.banner-title {
  color:#fff;
  padding-top:1.5em;
  font-weight:500;
}
.banner-title-sm {
  color:#fff;
  margin-top:0;
  padding-bottom:1.5em;
  font-weight:400;
}
.note {
  max-width: 100%;
  border-left: 5px solid #FF570C;
  padding-bottom: 1em;
  margin-bottom: 1em;

}
/* exhibit-title */
.exhibit-title-box {
  border-left:5px solid #FF570C;
  margin-bottom: 30px;
}
.exhibit-title-box p {
  font-size: 16px;
}
.exhibit-title {
  padding-left:0.5em;
  padding-top:0.5em;
  font-weight:400;
  
}
.exhibit-title-sm {
  padding-left:1.3em;
  margin-top:0;
  margin-bottom:2em;
  font-weight:300;
}
.skillInline {
  display: inline-block;
  width: 33%;
}
/* web-item */
.introduce {
  font-weight:300;
}
/*.web-item p:first-child {
  font-size:1.5em;
}*/
/* story使用table排版 */
.story {
  background-color: #ccc;
  margin-top:4em;
}
.story_inner {
  text-align:center;

}
.story_txt {
  padding:4em;
  font-weight:300;
  font-size:1.5em;
}
.story_top:before,.story_top:after,.story_bottom:before,.story_bottom:after {
  content:" ";
  display:table;
}
.story_top:after,.story_bottom:after {
  clear:both;
}
.story_bottom {
  background-color: #000;
}
.story_running{
  width:31.3333%;
  margin:4em 1%;
  float:left;
  text-align:center;
}
.story_running img {
    border-radius:50%;
}

/* footer */
footer {
  background-image: url("https://images.unsplash.com/photo-1488229297570-58520851e868?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=c294d4cfcd05969089c0e62f5b16d884&auto=format&fit=crop&w=1949&q=80");
  height:400px;
  width: 100%;
  color:#fff;
  overflow: hidden;
  background-position:50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}