@charset "UTF-8";
.container {
  word-wrap: break-word;
  overflow: hidden; }

img {
  border: 1px solid #ccc; }

p {
  color: #727272; 
}
.mt-30 {
  margin-top: 70px;
}
@media (max-width:1024px) {
  .mt-30 {
    margin-top: 0px;
  }
}
.h2-transparent {
  color: transparent;
  text-shadow: 0 0 transparent;
}
@media (max-width:992px) {
  .h2-transparent {
    display:none;
  }
}
h1, h2, h3 {
  color: #78817a;
  text-shadow: 1px 1px #000;
  font-family: "ZCOOL XiaoWei", "Trebuchet MS", Verdana, sans-serif; }

a {
  transition: 0.7s; }

a:hover {
  text-decoration: none; }

.btn-orange {
  background-color: #FF570C;
  color: #fff;
  transition: 0.7; }

.btn-orange:hover {
  background-color: #fbcbb6;
  color: #fff; }

/* navigation */
.clear {
  clear: both; }

.navigation {
  width: 100%;
  background-color: #000;
  position: fixed;
  top: 0;
  z-index: 100; }

.navigation .menu {
  float: right; }

.navigation li {
  float: left;
  list-style: none;
  padding-right: 15px;
  text-align: center;
  margin-top: 10px; }

.navigation i {
  color: #fff;
  font-size: 22px; }

@media (max-width: 768px) {
  .navigation li {
    width: 25; }
  .navigation .menu {
    float: none; } }

/* banner */
.main_header {
  height: 600px;
  color: #fff;
  background-image: url(../css/images/plane-min.jpg);
  overflow: hidden;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; }

img {
  width: 100%; }

.banner-title {
  color: #fff;
  padding-top: 3.5em;
  font-weight: 500; }

.banner-title-sm {
  color: #fff;
  margin-top: 0;
  padding-bottom: 1.5em;
  font-weight: 400; }

.note {
  max-width: 100%;
  padding-bottom: 1em;
  margin-bottom: 1em; }

@media (max-width: 1024px) {
  .note {
    border-left: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
  }
}
/* exhibit-title */
.exhibit-title-box {
  margin-bottom: 30px;
  box-sizing: border-box;
}
@media (max-width:1024px) {
  .exhibit-title-box {
    border-left: 0;
    margin-bottom: 0px;
  }
}
.exhibit-title-box p {
  font-size: 16px; }

.exhibit-title {
  padding-left: 10px;
  font-weight: 400; }

.exhibit-title-sm {
  border-left: 5px solid #FF570C;
  padding-left: 10px;
  margin-top: 0;
  margin-bottom: 2em;
  font-weight: 300; }

@media (max-width:1024px) {
  .exhibit-title-sm {
    margin-bottom: 0 !important;
  }  
}
/* .mt-40 {
  margin-top: 40px;
} */
@media (max-width:1024px) {
  .mt-40 {
    margin-top: 40px;
  }
}
.skillInline {
  display: inline-block;
  width: 33%; }

/* web-item */
.introduce {
  font-weight: 300; }

/* story使用table排版 */
.story {
  background-color: #ccc;
  margin-top: 4em; }

.story_inner {
  text-align: center; }

.story_txt {
  padding: 4em;
  font-weight: 300;
  font-size: 1.5em; }

.story_top:before, .story_top:after, .story_bottom:before, .story_bottom:after {
  content: " ";
  display: table; }

.story_top:after, .story_bottom:after {
  clear: both; }

.story_bottom {
  background-color: #000; }

.story_running {
  width: 31.3333%;
  margin: 4em 1%;
  float: left;
  text-align: center; }

.story_running img {
  border-radius: 50%; }

/* footer */
footer {
  background-image: url(../css/images/plane-min.jpg);
  height: 400px;
  width: 100%;
  color: #fff;
  overflow: hidden;
  background-position: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; }
